body {
  background: blanchedalmond;
}

* {
  border: 1px solid black;
}

@media {

}

.container {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  padding: 2em;
}

.a {
  border: 1px solid blue;
  min-height: 200px;
  min-width: auto;
  margin-bottom: 0.5em;
  }

.b {
  border: 1px solid green;
  min-height: 400px;
  min-width: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.c {
  border: 1px solid magenta;
  min-height: 200px;
  min-width: auto;
  margin-top: 0.5em;
}